@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Prompt&display=swap');
html * {
    margin:0px;
}
body{
    background-image: url("../images/bodybg.jpg");
    background-repeat: repeat;
    margin: 0px;
}
header {
    width: 100%;
    height: 200px;
    background-image: url("../images/menubg2.jpg");
    background-repeat: repeat;
    color: azure;
    text-align: center;
    margin: 0;
}
menu{
    margin:0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
}
#navbar {
    overflow: hidden;
    background-image: url("../images/headerbg.jpg");
    display: flex;
    justify-content: center;
}
  
#navbar a {
    color: #f2f2f2;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 3px 3px #000000;
}
  
#navbar a:hover {
    background-color: rgba(255, 238, 0, 0.342);
    color: rgb(255, 255, 255);
}
  
#navbar a.active {
    color: rgb(255, 230, 0);
    text-shadow: 3px 3px #000000;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

main{
    background-color: rgba(53, 53, 53, 0.568);
    color: white;
    width: 70%;
    height: auto;
    padding: 10px;
    margin: auto;
}
main h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
main h2{
    color: burlywood;
    font-family: 'Prompt', sans-serif;
}
main h3{
    color: indianred;
    font-family: 'Josefin Sans', sans-serif;
}
main li{
    color: coral;
}
main a{
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 20;
    font-weight: 600;
    font-family: 'Prompt', sans-serif;
}
main a:hover{
    color: darkorange;
}
main a:visited{
    color: grey;
}
p{
    text-align: justify;
    font-size: 14;
    color: cornsilk;
    font-family: 'Josefin Sans', sans-serif;
}
footer{
    width: 100%;
    height: 100px;
    background-image: url("../images/menubg2.jpg");
    background-repeat: repeat;
    color: azure;
    position: fixed; 
    left: 0 ; right: 0; bottom: 0; 
    margin: 0;
}
footer h2 {
    padding-top: 40px;
    color: rgb(255, 255, 255);
    text-align:center;
    font-family: 'Prompt', sans-serif;
}

.frame {
    width: 120px;
    height: 120px;
    border: 3px solid rgb(255, 230, 0);
    background: rgb(202, 186, 133);
    margin: auto;
    padding: 15px 15px;
    border-radius: 10%;
    float: right;
    margin-left: 15px;
}
.frame img{
    margin-top:-10%;
    margin-left:10%;
}